:root {
    --blue: #2B4074;
    --creamy-white: #F9F6E5;
    --light-gray: #929292;
    --gray: #4A4A4A;
}

.blue-line {
    height: 8px;
    width: 98.74px;
    background-color: var(--blue);
}

body {
    font-family: "Roboto";
    box-sizing: border-box;
    color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}



button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;

}


/* Header */
header {
    background: var(--blue);
    height: 100px;
    width: 100%;
}

header .content-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 153px;
    margin-right: 135px;
}


.burger-meny {
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

/* Intro */
.intro {
    background-image: url("/di-gi/images/intro-bg.png");
    background-size: cover;
    height: 668px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


.gray-line {
    width: 61px;
    height: 8px;
    background-color: var(--gray);
    display: none;
}

.intro .text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro .text-container h1 {
    font-family: "Roboto Condensed";
    font-size: 96px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 18px;
    margin: 0px;
}

.intro .text-container p {
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding-bottom: 28px;
    z-index: 0;
}

#more-button {
    background-color: var(--blue);
    color: var(--creamy-white);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 123px;
}




.slider {
    height: 12px;
    display: flex;
    justify-content: space-between;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: transparent !important;
}

.owl-theme .owl-dots .owl-dot span {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 1px solid #FFFFFF !important;
    background-color: #fff !important;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-self: self-end;
    position: absolute;
    z-index: 2;
}

.slider-button {
    width: 70px !important;
    height: 70px !important;
    font-size: 25px;
    font-weight: 600;
    border-radius: 0%;
}

#prev-button {
    background-color: var(--blue);
    color: #FFFFFF;
}

#next-button {
    background-color: var(--creamy-white);
    color: var(--light-gray);
}


/************************ Promo ************************/
.promo {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 192px;
    background-color: var(--blue);
}

.promo .text-container {
    align-items: start;
    width: 796px;
}

.promo .text-container .title {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 4px;
    text-align: left;
}

.promo .text-container p {
    /* font-family: "Dosis"; fix */
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
}

#call-me-button {
    color: var(--blue);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;

}

/************************* Servisec *************************/
.services {
    height: 547px;
    display: flex;
    justify-content: center;
}

.services .text-container .sub-text-container .blue-line:first-child {
    display: none;
}

.services .text-container {
    align-items: left;
    margin: 90px 0px 0px 62px;
}


.services .text-container h2 {
    font-family: "Roboto Condensed";
    font-size: 48px;
    font-weight: 400;
    line-height: 56.25px;
    text-align: left;
    color: var(--blue);
}

.sub-text-container {
    max-width: 393px;
    margin-top: 76.4px;
}

.services .blue-line {
    margin: 30.7px 0px 34.9px 0px;
}

.sub-text-container p:nth-child(2) {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: var(--gray);
}

.sub-text-container p:nth-child(4) {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #797979;
}

.services-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 231.67px);
    grid-template-rows: repeat(2, 270.53px);
    width: 691;
}

.service-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #F9F6E5
}


.service-card img {
    height: 64px;
    width: 64px;
}


.service-text-name {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--gray);
    padding-top: 27.54px;
}

.float-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 21.53px;
    display: none;
}

.float-text-container p {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    width: 196px;
    padding-bottom: 18px;
    color: #9B9B9B;
}

.float-text-container a {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    color: var(--blue);
}

.service-card:hover .float-text-container {
    display: flex;
}

.service-card:hover {
    border: 4px solid #2B4074;

}

/************************* Recent work *************************/
.recent-work {
    height: 668px;
    width: 100%;
    background-image: linear-gradient(180deg, var(--blue) 0%, rgba(43, 64, 116, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
}


.recent-work h2 {
    font-family: "Roboto Condensed";
    font-size: 48px;
    font-weight: 400;
    line-height: 56.25px;
    text-align: center;
    text-transform: capitalize;
    margin: 80px 0px 24px 0px;
}

.white-line {
    width: 100px;
    height: 8px;
    background-color: #FFFFFF;
    margin-bottom: 80px;
}

.recent-work-grid-container {
    display: grid;
    gap: 23.5px;
    grid-template-columns: repeat(4, 1fr);
}

.resent-work-card .images {
    position: relative;
}

.resent-work-card .images>img:first-of-type {
    box-shadow: 0px 4px 4px 0px #476E4D5A;
    border-radius: 5px;

}

.resent-work-card .float-content-container {
    position: absolute;
    left: 13px;
    top: 11px;
    height: 217px;
    width: 243px;
    background-color: #F9F6E5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}


.resent-work-card .float-content-container .button-container {
    align-self: center;
    display: flex;
    flex-direction: row;
}

.resent-work-card .float-content-container .button-container img {
    margin: 5px;
}

.work-text-name {
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: center;
    color: var(--blue);
    padding-top: 29px;
}

.resent-work-card:hover .float-content-container {
    opacity: 0.8;
}

/*************************  Video Block *************************/
.video-block {
    height: 580px;
    width: 100%;

}

.video-block .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 29px;
    z-index: 2;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.video-block img {
    height: 420px;
    width: 460px;
    border-radius: 5px;
}

.video-block .text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 420px;
    margin-left: 100px;
    position: relative;
}



.video-block .text-container .title {
    font-family: "Roboto Condensed";
    font-size: 48px;
    font-weight: 400;
    line-height: 56.25px;
    text-align: left;
    color: var(--gray);
}

.video-block .blue-line {
    width: 113.48px;
    height: 8px;
    margin: 30px 0px 39px 0px;
}

.video-block .text-container p {
    max-width: 505px;
    height: 192px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #9B9B9B;
}


.video-block .button-container {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: start;
}


#watch-video-button {
    background: var(--blue);
    color: var(--creamy-white);

}

/************************** Latest News **************************/

.lates-news {
    height: 1044px;
    width: 100%;
    background-color: var(--creamy-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-line {
    width: 100px;
    height: 8px;
    background-color: var(--blue);
    margin-bottom: 115px;
    margin-top: 19px
}

.lates-news h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 56.25px;
    text-align: center;
    padding-top: 52px;
    color: var(--gray);
}

.lates-news-grid-container {
    width: 1153px;
    height: auto;
}


.news-card {
    position: relative;
    transition: 0.6s;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px transparent;
    margin-bottom: 30.5px;
}

.news-card .images img {
    display: block;
    width: 100%;
    border-radius: 10px;
}


.news-card .content {
    transition: 0.6s;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
}


.news-title {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FFF;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.news-title p {
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: left;
    color: #4A4A4A;
    text-transform: none;
    padding-left: 20.15px;
}

.news-card:hover .content {
    opacity: 1;
}

.news-card:hover {
    box-shadow: 0px 0px 0px 10px #2B4074;
}

.news-card:hover .news-title {
    border-radius: 0px;
}

.news-card:hover .news-title {
    bottom: 30px;
    animation: move-news-title 0.5s;
    background: var(--blue);
}


.news-card:hover .news-title p {
    color: var(--creamy-white);
}

@keyframes move-news-title {
    0% {
        left: 0px;
        bottom: 0px;
    }

    100% {
        background: var(--blue);
        left: 0px;
        bottom: 30px;
    }
}

/************************** Testimonial **************************/
.testimonial {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.testimonial .owl-theme .owl-dots .owl-dot.active span,
.testimonial .owl-theme .owl-dots .owl-dot:hover span {
    background-color: transparent !important;
}

.testimonial .owl-theme .owl-dots .owl-dot span {
    border: 1px solid var(--blue) !important;
    background-color: var(--blue) !important;
}

.testimonial .slider-cirle span {
    background-color: var(--blue);
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial p {
    font-family: "Roboto Condensed";
    font-size: 36px;
    font-weight: 400;
    line-height: 42.19px;
    text-align: center;
    color: #4A4A4A;
    text-transform: none;
}

.mark-text {
    color: var(--blue);
    font-weight: 700;
}

.testimonial q::after,
.testimonial q::before {
    content: none;
}

.autor {
    font-family: Roboto Condensed;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
    color: var(--gray);
}

.testimonial .dot {
    border: var(--blue) solid 1px;
    background-color: var(--blue);
}

.fa-quote-right {
    font-size: 34px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: var(--blue);
    padding: 100px 0px 30px 0px;
}


/************************** Footer **************************/
.footer {
    height: 839px;
    width: 100%;
}

.footer-content {
    height: 639px;
    width: 100%;
    top: 47px;
    background-color: var(--blue);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    z-index: 2;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

footer .logo {
    height: 60px;
    width: 230px;
    background-color: var(--blue);
    border-radius: 5px;
    position: absolute;
    top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.up-button {
    width: 100%;
    width: 100%;
    height: 42px;
    position: absolute;
    bottom: 41;
    background-color: var(--creamy-white);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    text-decoration: none;
}



footer .text-container {
    padding-right: 146px;
}

.up-button p {
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: left;
    color: #4A4A4A;
    padding-right: 146px;
    text-transform: uppercase;
}

.sub-content-container {
    text-align: left;
}

.sub-content-container p {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: none;
    padding-bottom: 80px;
}

.social-media-links-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.social-media-link-container {
    border: 1px solid #7EBF84;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.fa-brands {
    font-size: 20px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #FFFFFF;
}

.contacts-container {
    display: grid;
    grid-template-columns: repeat(4, 238px);
    padding-top: 80px;

}


.sub-contact-container h4 {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--creamy-white);
    text-transform: uppercase;
    padding-bottom: 22px;
}

.sub-contact-container a {
    padding-bottom: 10px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    color: #FFF;
    text-decoration: none;
}

footer .left-border {
    border-left: none;
}

footer .right-border {
    border-right: none;
}


@media screen and (max-width: 1140px) {
    .intro .text-container h1 {
        font-size: 84px;
        font-weight: 400;
        line-height: 84px;
        letter-spacing: 2px;
        text-align: center;
    }

    .slider-button {
        width: 56px;
        height: 56px;
    }

    .services {
        flex-direction: column;
        height: 912px;
    }

    .services .text-container {
        margin: 0px;
    }

    .services-grid-container {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }


    .services .sub-text-container {
        max-width: 611px;
        margin: 61px 0px 28px 46px;

    }

    .services .text-container h2 {
        text-align: center;
        padding-top: 52px;
    }

    .recent-work {
        height: 1033px;
    }

    .recent-work-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }


    .lates-news {
        height: 1368px;
    }

    .lates-news-grid-container {
        width: 932px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    footer .social-media-links-container {
        grid-template-columns: repeat(4, 236px);
    }

    .up-button p {
        padding-right: 0px !important;
    }

    footer .contacts-container h2 {
        font-size: 18px;
    }

    footer .contacts-container a {
        font-size: 16px;
    }
}

@media screen and (max-width: 930px) {
    .intro {
        height: 465px;
    }

    .intro .text-container h1 {
        font-size: 60px;
        font-weight: 400;
        line-height: 60px;
        text-align: center;
        margin-top: 87px;
    }

    #more-button {
        margin-bottom: 50px;
    }



    .intro .text-container p {
        font-size: 18px;
    }

    .promo .text-container {
        width: 446px;
    }

    .promo .text-container .title {
        margin-bottom: 37px;
    }


    .services {
        height: 1655px;
    }

    .services-grid-container {
        width: 100%;
        grid-template-columns: repeat(2, 50%) !important;
        grid-template-rows: repeat(4, 335px);
        justify-content: center;
    }

    .services .sub-text-container {
        margin-top: 30px;
        margin-bottom: 27px;
    }

    .resent-work-card .work-text-name {
        font-size: 20px;
    }

    .video-block {
        height: 479px;
    }

    .video-block .blue-line {
        width: 88.64px;
    }

    .video-block .content-container img {
        width: 240px;
        height: 227px;
    }

    .video-block .content-container .text-container {
        margin-left: 34px;
        margin-top: 34px;
        position: static;
    }


    .video-block .content-container {
        position: relative;
        align-items: start;
        margin-top: 40px;
    }

    .video-block .content-container .text-container {
        margin-top: 0px;
    }

    .video-block .content-container .text-container p {
        height: 235px;
        width: 407px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    .video-block .button-container {
        position: absolute;
        flex-direction: row;
        justify-content: center;
        bottom: 48px;
    }

    #watch-video-button {
        width: 230px;
    }

    .lates-news {
        height: 1745px;
    }

    .lates-news .blue-line {
        margin-bottom: 50px;
    }

    .lates-news-grid-container {
        width: 570px;
    }

    .testimonial {
        height: 410px;
    }


    .testimonial .fa-quote-right {
        padding-top: 60px;
        padding-bottom: 50px;
    }


    footer a {
        padding: 0px !important;
    }

    footer,
    .footer-content {
        height: 674px;
    }

    footer .sub-content-container p {
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 2px;
        text-align: left;
    }

    footer .social-media-links-container {
        grid-template-columns: repeat(4, 1fr);
    }

    footer .contacts-container {
        grid-template-columns: repeat(2, 194px);
        column-gap: 152px;
        row-gap: 28px;
    }

    .up-button p {
        padding-right: 13px !important;
    }
}

@media screen and (max-width: 640px) {

    header .content-container {
        margin: 0px 53px 0px 53px;
    }

    .intro .text-container h1 {
        margin-top: 0px;
        padding-bottom: 7px;
    }

    .intro p {
        display: none;
    }

    .intro .gray-line {
        display: block;
        margin-bottom: 30px;
    }


    .promo {
        height: 254px;
        flex-direction: column;
        justify-content: start;
    }

    .promo .text-container {
        padding: 40px 0px 40px 0px;
    }

    .promo .text-container .title,
    .promo .text-container p {
        text-align: center;
    }

    .promo .text-container .title {
        margin-bottom: 10px;
    }


    .services {
        height: 1551px;
    }

    .services .sub-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
    }

    .services .sub-text-container p {
        text-align: center;
        width: 556px;
    }

    .services-grid-container {
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: repeat(4, 308px);
        justify-content: center;
    }

    .recent-work {
        height: 2288px;
    }

    .recent-work h2 {
        margin-top: 40px;
    }



    .recent-work .white-line {
        margin-bottom: 0px;
    }

    .recent-work-grid-container {
        grid-template-columns: 1fr;
        padding-top: 41px;
    }

    .resent-work-card .images>img:first-of-type {
        width: 518px;
        height: 460px;
    }

    .resent-work-card .float-content-container {
        width: 469.68px;
        height: 417.66px;
        left: 25.13px;
        top: 25.13px;
    }

    .float-content-container img {
        height: 49px;
        width: 49px;
    }

    .float-content-container img:first-child {
        padding-right: 24.48px;
    }

    .video-block {
        height: 1007px;
    }

    .video-block .content-container {
        bottom: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin-top: 46px;
    }

    .video-block .content-container img {
        width: 520px;
        height: 478px;
    }

    .video-block .content-container .text-container {
        padding-top: 40px;
        margin: 0px;
        align-items: center;
    }

    .video-block .content-container .text-container p {
        text-align: center;
        width: 518px;
    }

    .video-block .content-container .text-container .button-container {
        position: static;
        justify-content: center;
    }

    .testimonial p {
        width: 552px;
        text-align: center;
        font-weight: 400;
        line-height: 37.5px;
    }

    .fa-quote-right {
        padding-bottom: 40px !important;
    }

    .autor {
        padding-bottom: 40px;
    }

    footer .footer-content .sub-content-container p {
        font-size: 24px;
        text-align: left;
    }

    footer .social-media-links-container {
        grid-template-columns: repeat(4, 141px);

    }

    footer .contacts-container {
        padding-top: 40px;
        column-gap: 180px;
        grid-template-columns: repeat(2, 177px);
    }

    footer .up-button p {
        padding-right: 14px !important;
    }
}


@media screen and (max-width: 530px) {
    header .content-container {
        margin: 0px 25px 0px 25px;
    }

    .intro {
        height: 193px;
    }

    .intro .text-container h1 {
        font-size: 28px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
    }

    .intro button {
        display: none;
    }

    .promo {
        height: 301px;
    }

    .promo .text-container {
        width: 280px;
    }

    .services {
        height: 2799px;
    }

    .services .text-container h2 {
        padding-top: 25px;
        font-size: 24px;
    }

    .services .text-container p {
        width: 280px;
        font-size: 20px;
        padding-bottom: 21px;
        font-size: 15px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
    }

    .services .text-container .sub-text-container {
        margin: 0px;
    }

    .services .text-container .sub-text-container .blue-line:first-child {
        display: block;
    }

    .services .text-container .sub-text-container>.blue-line:nth-child(3) {
        display: none;
        margin: 20px 0px 21px 0px;
    }

    .services-grid-container {
        grid-template-columns: repeat(1, 100%) !important;
        grid-template-rows: repeat(8, 308px) !important;
    }

    .recent-work {
        height: 1384px;
    }

    .resent-work-card .images>img:first-of-type {
        height: 250px;
        width: 280px;
    }

    .resent-work-card .float-content-container {
        width: 253.88px;
        height: 226.99px;
        left: 13.53px;
        top: 11.51px;
    }

    .resent-work-card .work-text-name {
        font-size: 16px;
        padding-top: 20px;
    }

    .float-content-container img {
        height: 26px;
        width: 26px;
    }

    .video-block .blue-line {
        margin: 0px;
        width: 45px;
        height: 8px;
    }

    .video-block {
        height: 850px;
    }

    .video-block .content-container {
        height: 100%;
    }

    .video-block .content-container .text-container {
        height: 600px;
    }

    .video-block .content-container img {
        height: 250px;
        width: 280px;
        bottom: 0px;
    }

    .video-block .content-container .text-container .title {
        padding-bottom: 20px;
    }

    .video-block .content-container .text-container p {
        width: 280px;
        height: 325px;
        padding-top: 23px;
    }


    .video-block .content-container .text-container .button-container {
        margin-top: 29px;
    }

    .lates-news {
        height: 2896px;
    }

    .lates-news h2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 38px;
        padding-top: 40px;
    }

    .lates-news .blue-line {
        width: 50px;
        margin: 20px 0px 40px 0px;
    }

    .lates-news-grid-container {
        width: 100%;
    }

    .testimonial {
        height: 480px;
    }

    .testimonial p {
        font-size: 24px;
        font-weight: 400;
        line-height: 28.13px;
        text-align: center;
        width: 275px;
    }

    .autor {
        padding: 100px 0px 38px 0px;
    }

    .testimonial .slider .slider-cirle {
        margin: 0px;
    }

    footer,
    .footer-content {
        height: 1000px;
        align-items: start;
        justify-content: center;
    }





    footer .footer-content .sub-content-container p {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 2px;
        padding-top: 85px;
        padding-bottom: 43px;
        width: 274px;
    }

    .social-media-links-container {
        height: 144px;
        /* width: 25px; */
        display: flex;
        flex-direction: column;
    }

    .contacts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 42px !important;
    }

    .sub-contact-container {
        width: 126px;
    }

    .social-media-link-container {
        border: none;
    }

    .sub-contact-container h4,
    .sub-contact-container a {
        text-align: center;
    }

    .up-button {
        height: 142px;
        justify-content: center;
    }

    footer .up-button p {
        padding-right: 0px !important;
        width: 80px;
        text-align: center;
    }
}